/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
}
body {
    color: #fff;
    text-align: center;
    text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    box-shadow: inset 0 0 5rem rgba(0,0,0,.5);

}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 2rem;
}

.form-control,.btn-group-lg>.btn, .btn-lg, .custom-file-control {
    border-radius: 0px;
}
.btn{
    cursor: pointer;
}
a.btn{
    text-decoration: none;
}


/*
 * Header
 */
.header-bg{
    position: fixed;
    top: 0;
    height: 5rem;
    width: 100%;
    background: rgba(0,0,0,0.7);
    left: 0px;
    border-bottom: 0.1rem solid rgba(150,150,150,0.5);
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.masthead-brand a {
    border-bottom: .25rem solid transparent;
    background-color: transparent;
    padding: .3em 0em;
}

.masthead-brand a:hover {
    text-decoration: none;
    border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-item {
    padding: .25rem 1rem;
    font-weight: 700;
}

.nav-masthead .navbar-text{
    color: rgba(255,255,255,.5);
}


.nav-masthead .nav-link {
    display: inline-block;
    color: rgba(255,255,255,.5);
    border-bottom: .25rem solid transparent;
    background-color: transparent;
    padding: .3em 0em;
}
    

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}



/*
 * Cover
 */

.innerbg{
    display: inline-block;
    padding: 2em;
    border: 0.1rem solid rgba(150,150,150,0.5);
    background: rgba(0,0,0,0.7);
    min-width: 28rem;

}

.inner .form-line{
    padding: 0.8rem 1rem;
}
.inner .form-line-small{
    padding: 0.1rem 1rem;
}
.inner .form-line.share{

    background: whitesmoke;
    color: #207cb5;
    text-shadow: none;
}

.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

/*
 * Footer
 */

.mastfoot {
    color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

.fsh-mobile-hide{
    display: none;
}
.fsh-mobile-show{
    display: block;
}

.fsh-mobile-nav{
    text-align: left;
    background: rgba(0,0,0,0.7);
}
.fsh-mobile-nav .navbar-toggler{
    float: right;
}

@media (min-width: 40em) {
    /* Pull out the header and footer */
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
    .fsh-mobile-hide{
        display: block;
    }
    .fsh-mobile-show{
        display: none;
    }

    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }


    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 62em) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 62rem;
    }
}


/*
 * Upload Input field
 *
 */


.fsh-file-input .input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

}



.fsh-file-input .input-label {
    max-width: 21.5rem;
    background-color: white;
    border: 1px solid #ced4da;
    color: #495057;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;

}
.fsh-file-input .input-label .fa{
    font-size: 120%;
}







/*TODO*/
.fsh-file-input:focus .input-label,
.fsh-file-input.has-focus .input-label,
.fsh-file-input .input-label:hover {
    background-color: #e6e6e6;
}

